<div id="cl-wrapper" class="login-container">
	<div class="middle-login">
		<div class="block-flat">
			<div class="header">							
				<h3 class="text-center"><img class="logo-img" src="/assets/logo.png" alt="logo"/></h3>
			</div>
			<div>
				<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
					<div class="content">
						<h4 class="title">Registration</h4>
						<div class="form-group">
							<div class="col-sm-12">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user"></i></span>
									<%= f.email_field :email, :autofocus => true, :class=>"form-control", :id=>"username", :placeholder=>"Enter email" %>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-12">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock"></i></span>
									<%= f.password_field :password, :class=>"form-control", :placeholder=>"Password", :id=>"password" %>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-12">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock"></i></span>
									<%= f.password_field :password_confirmation, :class=>"form-control", :placeholder=>"Password", :id=>"password" %>
								</div>
							</div>
						</div>	
					</div>
					<div class="foot">
						<button class="btn btn-primary" data-dismiss="modal" type="submit">Submit</button>
						<%#= link_to "Register", new_user_registration_path,:class=> "btn btn-default" %>
					</div>
				<% end %>
			</div>
		</div>
		<div class="text-center out-links"><a href="#">&copy; 2014 Your Company</a></div>
	</div> 
</div>