<div id="head-nav" class="navbar navbar-default" style="height: 56px;">
  <div class="container-fluid">
    <div class="navbar-collapse">
      <% if mobile_device? %>
        <ul class="nav navbar-nav navbar-right user-nav">
          <li class="dropdown profile_menu">
            <% if !current_user.profile_pic_data.nil? %>
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= image_tag url_for(:action => 'show_image',:controller => "user_profile" , :id => current_user.id), :size => "32x32" %>
                <span>
                  <% if !current_user.first_name.blank? %>
                    <%= current_user.first_name%>&nbsp<%= current_user.last_name%>
                  <% else %>
                    <%= current_user.email %>
                  <% end %>
                </span> <b class="caret"></b>
              </a>
              <% else %>
                <a href="#"><img alt="Avatar" src="/assets/avatar6.jpg" style="height: 30px;">
                  <span>
                    <% if !current_user.first_name.blank? %>
                      <%= current_user.first_name%>&nbsp<%= current_user.last_name%>
                    <% else %>
                      <%= current_user.email %>
                    <% end %><b class="caret"></b>
                  </span>
                </a>
              <% end %>
            <ul class="dropdown-menu" style ="margin-top: 0px !important; background-color: #DACCF8 !important">
              <li><%= link_to "Setting",profile_path %></li>
              <li><%= link_to "Log out",destroy_user_session_path, method: :delete %></li>
            </ul>
          </li>
        </ul>
      <% else %>
        <ul class="nav navbar-nav navbar-right user-nav">
          <li class="dropdown profile_menu">
          	<%#= link_to %>
            <% if !current_user.profile_pic_data.nil? %>
              <a href="#"><%= image_tag url_for(:action => 'show_image',:controller => "user_profile" , :id => current_user.id), :size => "32x32" %>
                <span>
                  <% if !current_user.first_name.blank? %>
                    <%= current_user.first_name%>&nbsp<%= current_user.last_name%>
                  <% else %>
                    <%= current_user.email %>
                  <% end %>
                </span></a>
            <% else %>
              <a href="#"><img alt="Avatar" src="/assets/avatar6.jpg" style="height: 30px;">
                <span>
                  <% if !current_user.first_name.blank? %>
                    <%= current_user.first_name%>&nbsp<%= current_user.last_name%>
                  <% else %>
                    <%= current_user.email %>
                  <% end %>
                </span>
              </a>
            <% end %>
          </li>
          <li>
            <%= link_to profile_path do %>
              <i class="fa fa-cogs"></i>
            <% end %>
          </li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete do %>
              <i class = "fa fa-power-off"></i>
            <% end %>
          </li>
        </ul>
      <% end %> 
        <ul class="nav navbar-nav not-nav">
          <li>
            <%= link_to root_path, :style => "font-size: 30px" do %>
              <i class= "fa fa-home"></i>
            <% end %>
          </li>
        </ul> 
    </div>
  </div>
</div>
<script src="/assets/jPushMenu.js"></script>