<div class="content" id="report_tab">
  <div class="table-responsive">
    <div id="datatable_wrapper" class="dataTables_wrapper form-inline" role="grid">
      <table class="table table-bordered dataTable" id="datatable" aria-describedby="datatable_info">
        <thead>
          <tr role="row">
            <th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-sort="ascending" style="width: 163px;" aria-label="Rendering engine: activate to sort column descending">Client Name</th>
            <th class="sorting" role="columnheader" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 231px;" aria-label="Browser: activate to sort column ascending">Date</th>
            <th class="sorting" role="columnheader" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 214px;" aria-label="Platform(s): activate to sort column ascending">Credit</th>
            <th class="sorting" role="columnheader" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 137px;" aria-label="Engine version: activate to sort column ascending">Debit</th>
            <th class="sorting" role="columnheader" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 127px;" aria-label="CSS grade: activate to sort column ascending">Outstanding</th>
          </tr>
        </thead>
        <tbody role="alert" aria-live="polite" aria-relevant="all" id="result">
        </tbody>
      </table>
    </div>
  </div>
  </div>
