<div class="col-md-12" style="padding-left: 0px;">
  <div class="content">
    <div id="datatable_wrapper" class="dataTables_wrapper form-inline" role="grid">
      <%= form_tag generate_report_path, :remote => true do |f| %>
        <div class="form-group">
          <div class="form-group">
            <label>From</label><br/>
            <%= date_select(:date_from, 'written_on')  %>
            <%#= text_field_tag :date_from,nil , class: "form-control datetime" %>
            <%#= date_field_tag(:date_from, :autofocus => true)%>  
          </div>
          <div class="form-group">
            <label>To</label><br/>
            <%= date_select(:date_to, 'written_to', class: "form-control")  %>
          </div>
          <div class="form-group">
            <label>Client Name</label>
            <%= select_tag 'client_id', options_for_select(current_user.clients.collect{ |u| [u.client_name, u.id] }, :include_blank => true), { :class => "form-control" } %>
          </div>
          <div class="form-group">
            <label>Cash Type</label>
            <%= select_tag "cashflow_type", "<option>Both</option><option>Credit</option><option>Debit</option>".html_safe, { :class => "form-control" } %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-3">
            <label></label>
            <%= submit_tag "Generate Report", class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>     
  </div>
  <br/>
  <%= render :partial => "/layouts/shared/generate_report" %>
</div>

<style type="text/css">
#date_from_written_on_1i, #date_from_written_on_2i, #date_from_written_on_3i, #date_to_written_to_1i, #date_to_written_to_2i,#date_to_written_to_3i{
  height: 34px !important;
}
</style>
<script type="text/javascript">
  $(document).ready(function(){
     $(".datetime").datetimepicker({format: 'yyyy-mm-dd'});
  });
</script>