<div class="cl-sidebar">
  <div class="cl-toggle"><i class="fa fa-bars"></i></div>
  <div class="cl-navblock">
    <div class="menu-space">
      <div class="content">
        <div class="sidebar-logo">
          <div class="logo">
              <a href="index2.html"></a>
          </div>
        </div>
        <div class="side-user">
          <% if !current_user.profile_pic_data.nil? %>
            <div class="avatar"><%= image_tag url_for(:action => 'show_image', :controller => "user_profile" ,:id => current_user.id), :size => "50x50" %></div>
          <% else %>
            <div class="avatar"><img src="/assets/avatar6.jpg" alt="Avatar" style="height:50px;" /></div>  
          <% end %>
          <div class="info">
            <p>
              <% if !current_user.first_name.blank? %>
                <%= current_user.first_name %> <%= current_user.last_name %>
              <% else %>
                <%= current_user.email %>
              <% end %>
            </p>
          </div>
        </div>
        
        <!-- <div class="side-user">
          <ul class="cl-vnavigation">
            <li><%#= Cashflow.all.where(:cash_type => "Credit").sum(:amount) %> Credit</li>
            <li></li>
            <li></li>
        </ul>
        </div> -->
        <ul class="cl-vnavigation"><br/>
          <div class="col-sm-12 col-md-12">
            <div class="block-flat primary-box" style="padding: 0px 0px 0px 0px !important;">
              <div class="content">
                <table class="no-border">
                  <tbody >
                  <tr class="no-border-x no-border-y">
                    <td align="right">+ <%= @cr = current_user.cashflows.where(:cash_type => "Credit").sum(:amount) %> </td>
                    <td class="no-border">Credit</td>
                  </tr>
                  <tr class="no-border-y" style="background: none !important;">
                    <td align="right" class="no-border">- <%= @dr = current_user.cashflows.where(:cash_type => "Debit").sum(:amount) %> </td>
                    <td class="no-border">Debit</td>
                  </tr>
                  <tr class="no-border-x no-border-y" style="background: none !important;">
                    <% if @cr-@dr > 0 %>
                      <td align="right" class="no-border">+ <%= @cr - @dr %> </td>
                    <% elsif @cr-@dr < 0%>
                      <td align="right" class="no-border"><%= @cr - @dr %> </td>
                    <% else %>
                      <td align="right" class="no-border"> <%= @cr - @dr %> </td>
                    <% end %>
                    <td class="no-border">Outstanding</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-12">
            <div class="block-flat primary-box" style="padding: 0px 0px 0px 0px !important;">
              <div class="content">
                <p align="center"><%= link_to current_user.clients.count.to_s + " Clients", clients_path, :style => "color: #fff;" %> </p>
                <p align="center"><%= link_to current_user.cashflows.count.to_s + " Entries", cashflows_path, :style => "color: #fff;" %></p>
              </div>
            </div>
          </div><br/>
        </ul>
      </div>
    </div>
    
  </div>
</div>