<%= @result.each do |p| %>
  <tr class="gradeA odd">
    <td class=" sorting_1">
      <% @clients.each do |c| %>
        <% if c.id == p.client_id %>
          <%= c.client_name %>
        <% end %>
      <% end %>
    </td>
    <td class=" "><%= p.date %></td>
    <% if p.cash_type == "Credit" %>
      <td class="gcredit"> + <%= p.amount %></td>
      <td class="rdebit"> - </td>
      <td class="gcredit"> + <%= p.amount%></td>
    <% else %>
      <td class="gcredit"> - </td>
      <td class="rdebit "> - <%= p.amount %></td>
      <td class="rdebit"> - <%= p.amount %></td>
    <% end %>
  </tr>
<% end %>
  <tr class="gradeA odd">
    <td class="" colspan="2"> Total Summary </td>
    <% @credit = 0 %>
    <% @debit = 0 %>
    <% @result.each do |report_cf| %>
      <% if report_cf.cash_type == "Credit" %>
        <% @credit += report_cf.amount %>
      <% elsif report_cf.cash_type == "Debit" %>
        <% @debit += report_cf.amount %>
      <% end %>
    <% end %>
    <td class="gcredit">+ <%= @credit %></td>
    <td class="rdebit">- <%= @debit %></td>
    <% if @credit-@debit > 0 %>
      <td class="gcredit">+ <%= @credit-@debit %></td>
    <% elsif @credit-@debit < 0 %>
      <td class="rdebit"> <%= @credit-@debit %></td>
    <% else %>
      <td class="">0.0</td>
    <% end %>
  </tr>
