<% if @result.blank? %>
	$("#report_tab").hide();
  $("#result").html(alert("No Data !!!"));
<% else %>
  $("#report_tab").show();
  $("#result").html("<%= escape_javascript render(:partial => 'cash_flow_report') %>");
<% end %>
