<%= form_tag generate_report_path, :remote => true do |f| %>
  <%= date_field_tag :date_from %>
  <%= date_field_tag :date_to %>
  <%= select_tag 'client_id', options_for_select(Client.all.collect{ |u| [u.client_name, u.id] }) %>
  <%= select_tag "cashflow_type","<option>Both</option><option>Credit</option><option>Debit</option>".html_safe,{:class => "form-control" } %>
  <%= submit_tag "Generate Report" %>
<% end %>

<%= render :partial => "/layouts/shared/generate_report" %>