<%= form_for @client, :html => { :id => "new_client" } do |f| %>
  <div class="form-group">
    <%= f.label :client_name %>
    <%= f.text_field :client_name, :placeholder=>"Enter Name", :class=>"form-control",:required => true  %>
  </div>
  <div class="form-group">
    <%= f.label :email %>
    <label>Email address</label> 
    <%= f.text_field :email, :required=>true, :email => true,:placeholder=> "Enter email",  :class=>"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :phone_no %>
    <%= f.text_field :phone_no, :required => true, :number => true, :placeholder=>"Enter Phone Number", :class=>"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :city %>
    <%= f.text_field :city, :placeholder=>"Enter City", :class=>"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :state %>
    <%= f.text_field :state, :placeholder=>"Enter State", :class=>"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :country %>
    <%= f.text_field :country, :placeholder=>"Enter Country", :class=>"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :address %>
    <%= f.text_area :address, :placeholder=>"Enter Address", :class=>"form-control" %>
  </div>
  <button class="btn btn-primary" type="submit">Submit</button>
  <%= link_to "Cancel", root_path,:class=>"btn btn-default"  %>
<% end %>

<script type="text/javascript">
  $("#new_client").validate({
    rules: {
      client_name: {
        required: true
      },
      email: {
        required: true,
        email: true
      },
      phone_no: {
        required: true,
        number: true
      }
    }
  });
</script>
<style type="text/css">
.error {
  color: red;
}
</style>