<div class="cl-mcont">    
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <div class="block-flat">
        <% if notice %>
          <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
              <i class="fa fa-times-circle sign"></i><strong>Error!</strong><%= notice %>
            </div>
          <% end %>
        <div class="header">              
          <h3><%= @client.client_name %></h3>
        </div>
        <div class="content">
          <div class="table-responsive">
            <div id="datatable_wrapper" class="dataTables_wrapper form-inline" role="grid">
              <table class="table table-bordered dataTable" id="datatable" aria-describedby="datatable_info">
                <thead>
                  <tr role="row">
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 231px;" aria-label="Browser: activate to sort column ascending">Date</th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 214px;" aria-label="Platform(s): activate to sort column ascending">Credit</th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 137px;" aria-label="Engine version: activate to sort column ascending">Debit</th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 127px;" aria-label="CSS grade: activate to sort column ascending">Outstanding</th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 127px;" aria-label="CSS grade: activate to sort column ascending">Action</th>
                  </tr>
                </thead>
                <tbody role="alert" aria-live="polite" aria-relevant="all">

                  <% @client.cashflows.each do |cashflow| %>
                    <tr class="gradeA odd">
                      <td class=" "><%= cashflow.date %></td>
                        <% if cashflow.cash_type == "Credit" %>
                          
                          <td class=" "> + <%= cashflow.amount %></td>
                          <td class=" "> -</td>
                          <td class=" "> + <%= cashflow.amount %></td>
                        <% else %>
                         
                          <td class=" "> -</td>
                          <td class=" "> - <%= cashflow.amount %></td>
                          <td class=" "> - <%= cashflow.amount %></td>
                        <% end %>
                      <td class=" ">
                          <a href="<%= edit_cashflow_path(cashflow) %>", class="btn-default"><i class="fa fa-edit"></i></a>
                          <a href="<%= cashflow_path(cashflow) %>", class="btn-default"><i class="fa fa-eye"></i></a>
                           <a href="#", data-toggle="modal" data-target="#md-default-<%= cashflow.id %>", class="btn-default"><i class="fa fa-times"></i></a> 
                          
                        </td>
                    </tr>
                    <div class="modal fade colored-header in" id="md-default-<%= cashflow.id %>" tabindex="-1" role="dialog">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h3>Enter Your Secret secret_password</h3>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                          </div>
                          <div class="modal-body">
                            <%= form_tag confirmation_cash_path, :method => 'get'  do %>
                              <div class="form-group">
                                <%= hidden_field_tag :id,{},:value=>cashflow.id%>
                                <label>Secret Password</label> : 
                                <%= password_field_tag :secret_password, :class=> "form-control"%>
                              </div>
                              <%= submit_tag "Submit", :class => "btn btn-primary btn-flat"%>
                            <% end %>
                          </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                      </div>
                    </div>
                  <%end  %> 
                  <tr class="gradeA odd">
                    <td class="center"> Total Summary</td>
                    <td class="center"> +<%= @credit_amount %></td>
                    <td class="center"> -<%= @debit_amount %></td>
                    <td class="center">
                      <% if @outstanding_amount > 0 %>
                        + <%= @outstanding_amount %>
                      <% elsif @outstanding_amount < 0 %>
                        <%= @outstanding_amount %>
                      <% else %>
                        <%= @outstanding_amount %>
                      <% end %>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>             
          </div>
        </div>
      </div>
    </div>        
  </div>
</div>
 
 