<div class="cl-mcont">		
	<div class="row">
	  <div class="col-sm-6 col-md-6">
	    <div class="block-flat">
	      <div class="header">							
	        <h3>Edit Client</h3>
	      </div>
	      <div class="content">
	      	<%= render 'form' %>
	      </div>
	    </div>				
	  </div>
	</div>
</div>