<div class="cl-mcont">    
  <div class="row">
    <div class="col-sm-6 col-md-6">
      <div class="block-flat">
        <div class="header">              
          <h3><%= @client.client_name %></h3>
        </div>
        <div class="content">
          <div class="form-group">
            <label>Email Address</label>
            <input type="text" readonly="readonly" class="form-control" value="<%= @client.email %>">
          </div>
          <div class="form-group">
            <label>Phone No.</label>
            <input type="text" readonly="readonly" class="form-control" value="<%= @client.phone_no %>">
          </div>
          <div class="form-group">
            <label>City</label>
            <input type="text" readonly="readonly" class="form-control" value="<%= @client.city %>">
          </div>
          <div class="form-group">
            <label>State</label>
            <input type="text" readonly="readonly" class="form-control" value="<%= @client.state %>">
          </div>
          <div class="form-group">
            <label>Country</label>
            <input type="text" readonly="readonly" class="form-control" value="<%= @client.country %>">
          </div>
          <div class="form-group">
            <label>Address</label>
            <input type="area" readonly="readonly" class="form-control" value="<%= @client. address%>">
          </div>
          <%= link_to 'Edit', edit_client_path(@client), :class=>"btn btn-primary" %>
          <%= link_to 'Cancel', root_url, :class=>"btn btn-default"  %>
        </div>
      </div>
    </div>        
  </div>
</div>
 