<div class="form-group">
  <%= f.label :cash_type %>
  <div class="radio">
    credit <%= f.radio_button :cash_type, "Credit",:required => true,:checked=>true%> <br>
    debit <%= f.radio_button :cash_type, "Debit",:required => true%> 
  </div> 
</div>