<div class="form-group">
	<%= f.label :cash_type %>
  <div class="radio">
    Credit <%= f.radio_button :cash_type, "Credit",:required => true%> <br>
    Debit <%= f.radio_button :cash_type, "Debit",:required => true, :checked=> true %> 
  </div>
</div>