<%= form_for @cashflow, :html => { :id => "new_cashflow" } do |f| %>
  <div class="form-group">
    <%= f.label :client_id, "Client Name"  %>
    <%= f.collection_select(:client_id,current_user.clients.all,:id,:client_name,{:include_blank => " " }, :required => true ,:autofocus => true,:class => "form-control")%><br/> <%= link_to "( Add New Client )", new_client_path %>
  </div>
  <div class="form-group">
    <%if request.path == "/new_cashflow_credit" %>
      <%= render "credit_form",:f=>f %>
    <% elsif request.path == "/new_cashflow_debit"%>
      <%= render "debit_form",:f=>f %>
    <% else %>
      <%= f.label :cash_type %>
        <% ["Credit", "Debit"].each do |a| %>
        <div class="radio">
          <%= a %><%= f.radio_button :cash_type, a,:required => true%> 
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <%= f.label :date %><br/>
    <%= f.date_select(:date, :start_year => 1980 ,:required => true)%>
  </div>
  <div class="form-group">
    <%= f.label :amount %>
    <%= f.text_field :amount,:required => true, :number => true, :placeholder=>"Enter Amount", :class=>"form-control"%> 
  </div>
  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, :placeholder=>"Enter Description", :class=>"form-control" %>
  </div>
   <button class="btn btn-primary" type="submit">Submit</button>
  <%= link_to "Cancel", root_path,:class=>"btn btn-default"  %>
<% end %>
<script type="text/javascript">
  $("#new_cashflow").validate({
    rules: {
      client_id: {
        required: true
      },
      cash_type: {
        required: true
      },
      date: {
        required: true
      },
      amount: {
        required: true,
        number: true
      }
    }
  });
</script>
<style type="text/css">
.error {
  color: red;
}
#cashflow_date_1i, #cashflow_date_2i, #cashflow_date_3i{
  width: 32%;
  height: 34px;
}
</style>