<% if notice %>
  <div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <i class="fa fa-check sign"></i><strong>Success!</strong> <%= flash[:notice] %>
  </div>
<% elsif flash[:error_notice] %>
  <div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <i class="fa fa-times-circle sign"></i><strong>Error!</strong> <%= flash[:error_notice] %>
  </div>
<% end %>

<div class="col-md-12" style="padding-left: 0px;">
  <div class="block-flat">
    <div class="header">              
      <h3>Cashflow Record <%= link_to 'Add New Cashflow', new_cashflow_path, :style => "float: right;", :class=>"btn btn-primary btn-rad btn-trans" %></h3>
    </div>

    <div class="content">
      <div class="table-responsive">
        <table class="table table-bordered" id="datatable" >
          <thead>
            <tr>
              <th>Client Name</th>
              <th>Cash Type</th>
              <th>Date</th>
              <th>Amount</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% @cashflows.each do |cashflow| %>
              <tr class="odd gradeX">
                <td><%= cashflow.client.client_name %></td>
                <td><%= cashflow.cash_type %></td>
                <td><%= cashflow.date %></td>
                <td><%= cashflow.amount %></td>
                <td><a href="<%= edit_cashflow_path(cashflow) %>", class="btn-default"><i class="fa fa-edit"></i></a>
                    <a href="<%= cashflow_path(cashflow) %>", class="btn-default"><i class="fa fa-eye"></i></a>
                    <a href="#", data-toggle="modal" data-target="#md-default-<%= cashflow.id %>", class="btn-default"><i class="fa fa-times"></i></a>
                </td>
              </tr>
              <div class="modal fade colored-header in" id="md-default-<%= cashflow.id %>" tabindex="-1" role="dialog">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h3>Enter Your Secret secret_password</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                      </div>
                      <div class="modal-body">
                        <%= form_tag confirmation_cash_delete_path, :method => 'get'  do %>
                          <div class="form-group">
                            <%= hidden_field_tag :id,{},:value=>cashflow.id%>
                            <label>Secret Password</label> : 
                            <%= password_field_tag :secret_password, :class=> "form-control"%>
                          </div>
                          <%= submit_tag "Submit", :class => "btn btn-primary btn-flat"%>
                        <% end %>
                      </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                  </div>
                </div>
            <% end %>
          </tbody>
        </table>              
      </div>
    </div>
  </div>        
</div>
<style type="text/css">
.paginate_disabled_previous{
  margin-right: 30px;
}
</style>
<script type="text/javascript">
    
    $(document).ready(function(){
      //initialize the javascript
      //Basic Instance
      $("#datatable").dataTable();
      
      //Search input style
      $('.dataTables_filter input').addClass('form-control').attr('placeholder','Search');
      $('.dataTables_length select').addClass('form-control');    
          
       /* Formating function for row details */
        function fnFormatDetails ( oTable, nTr )
        {
            var aData = oTable.fnGetData( nTr );
            var sOut = '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">';
            sOut += '<tr><td>Rendering engine:</td><td>'+aData[1]+' '+aData[4]+'</td></tr>';
            sOut += '<tr><td>Link to source:</td><td>Could provide a link here</td></tr>';
            sOut += '<tr><td>Extra info:</td><td>And any further details here (images etc)</td></tr>';
            sOut += '</table>';
             
            return sOut;
        }
       
        /*
         * Insert a 'details' column to the table
         */
        var nCloneTh = document.createElement( 'th' );
        var nCloneTd = document.createElement( 'td' );
        nCloneTd.innerHTML = '<img class="toggle-details" src="images/plus.png" />';
        nCloneTd.className = "center";
         
        $('#datatable2 thead tr').each( function () {
            this.insertBefore( nCloneTh, this.childNodes[0] );
        } );
         
        $('#datatable2 tbody tr').each( function () {
            this.insertBefore(  nCloneTd.cloneNode( true ), this.childNodes[0] );
        } );
         
        /*
         * Initialse DataTables, with no sorting on the 'details' column
         */
        var oTable = $('#datatable2').dataTable( {
            "aoColumnDefs": [
                { "bSortable": false, "aTargets": [ 0 ] }
            ],
            "aaSorting": [[1, 'asc']]
        });
         
        /* Add event listener for opening and closing details
         * Note that the indicator for showing which row is open is not controlled by DataTables,
         * rather it is done here
         */
        $('#datatable2').delegate('tbody td img','click', function () {
            var nTr = $(this).parents('tr')[0];
            if ( oTable.fnIsOpen(nTr) )
            {
                /* This row is already open - close it */
                this.src = "images/plus.png";
                oTable.fnClose( nTr );
            }
            else
            {
                /* Open this row */
                this.src = "images/minus.png";
                oTable.fnOpen( nTr, fnFormatDetails(oTable, nTr), 'details' );
            }
        } );
        
      $('.dataTables_filter input').addClass('form-control').attr('placeholder','Search');
      $('.dataTables_length select').addClass('form-control');    

    });
</script>