<div class="cl-mcont">    
  <div class="row">
    <div class="col-sm-6 col-md-6">
      <div class="block-flat">
        <div class="header">              
          <h3>Cash Flow</h3>
        </div>
        <div class="content">
          <div class="form-group">
            <label>Client Name</label>
            <input type="text" readonly="readonly" class="form-control" value="<%= @cashflow.client.client_name %>">
          </div>
          <div class="form-group">
            <label>Cash Type</label>
            <input type="text" readonly="readonly" class="form-control" value="<%= @cashflow.cash_type %>">
          </div>
          <div class="form-group">
            <label>Date</label>
            <input type="text" readonly="readonly" class="form-control" value="<%= @cashflow.date %>">
          </div>
          <div class="form-group">
            <label>Amount</label>
            <input type="text" readonly="readonly" class="form-control" value="<%= @cashflow.amount %>">
          </div>
          <div class="form-group">
            <label>Description</label>
            <input type="text" readonly="readonly" class="form-control" value="<%= @cashflow.description %>">
          </div>
          <%= link_to 'Edit', edit_cashflow_path(@cashflow), :class=>"btn btn-primary" %>
          <%= link_to 'Back', root_url, :class=>"btn btn-default"  %>
        </div>
      </div>
    </div>        
  </div>
</div>