<h3><%= link_to "Add Credit", new_cashflow_credit_path, :class => "btn btn-primary btn-rad btn-trans" %><%= link_to "Add Debit", new_cashflow_debit_path, :class => "btn btn-primary btn-rad btn-trans" %></h3>
<div class="col-md-12" style="padding-left: 0px;">
    <div class="content">
      <div class="table-responsive">
        <div id="datatable_wrapper" class="dataTables_wrapper form-inline" role="grid">         
          <table class="table table-bordered" id="datatable2" >
            <thead>
              <tr>
                <th>Client Name</th>
                <th>Date</th>
                <th>Credit</th>
                <th>Debit</th>
                <th>Outstanding</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <% current_user.clients.each do |client| %>
                <% @credit = 0 %>
                <% @debit = 0 %>
                <% if client.cashflows.count > 0 %>
                  <tr class="odd gradeX">
                    <td><%= client.client_name %></td>
                    <td><%= client.cashflows.last.date %></td>
                    <% client.cashflows.each do | cashflow|  %>
                      <% if cashflow.cash_type == "Credit" %>
                        <% @credit += cashflow.amount  %>
                      <% else %>
                        <% @debit += cashflow.amount %>
                      <% end %>
                    <% end %>
                      <td class="gcredit"> + <%= @credit %></td>
                      <td class="rdebit"> - <%= @debit %></td>
                      <% if @credit-@debit > 0  %>
                        <td class="gcredit"> + <%= @credit - @debit %></td>
                      <% elsif @credit-@debit < 0 %>
                        <td class="rdebit">  <%= @credit - @debit %></td>
                      <% else %>
                        <td>  <%= @credit - @debit %> </td>
                      <% end %>
                    <td>
                      <a href="<%= cashflow_detail_path(client) %>", class="btn-default"><i class="fa fa-eye"></i> View</a>  
                    </td>
                  </tr>
                <%end  %> 
              <% end %>
              <tr class="gradeA odd">
                <td colspan="2" > Total Summary</td>
                <td class="gcredit"> + <%= @total_credit %></td>
                <td class="rdebit"> -<%= @total_debit %></td>
                <% if @outstanding > 0 %>
                  <td style="color: green;">  + <%= @outstanding %> </td>
                  <% elsif @outstanding < 0 %>
                  <td class="rdebit"> <%= @outstanding %> </td>
                  <% else %>
                  <td><%= @outstanding %></td>
                  <% end %>
                </td>
              </tr>
            </tbody>
          </table>
        </div>             
      </div>
    </div> 
</div>
<script type="text/javascript" src="/assets/jquery.datatables.min.js"></script>
<script type="text/javascript">
      //Add dataTable Functions
    
    $(document).ready(function(){
      //initialize the javascript
      //Basic Instance
      $("#datatable").dataTable();
      
      //Search input style
      $('.dataTables_filter input').addClass('form-control').attr('placeholder','Search');
      $('.dataTables_length select').addClass('form-control');    
          
       /* Formating function for row details */
        function fnFormatDetails ( oTable, nTr )
        {
            var aData = oTable.fnGetData( nTr );
            var sOut = '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">';
            sOut += '<tr><td>Client Name:</td><td>'+aData[1]+' '+aData[4]+'</td></tr>';
            sOut += '<tr><td>Credit:</td><td>Could provide a link here</td></tr>';
            sOut += '<tr><td>Debit:</td><td>And any further details here (images etc)</td></tr>';
            sOut += '</table>';
             
            return sOut;
        }
       
         
        $('#datatable2 thead tr').each( function () {
            this.insertBefore( nCloneTh, this.childNodes[0] );
        } );
         
        $('#datatable2 tbody tr').each( function () {
            this.insertBefore(  nCloneTd.cloneNode( true ), this.childNodes[0] );
        } );
         
        /*
         * Initialse DataTables, with no sorting on the 'details' column
         */
        var oTable = $('#datatable2').dataTable( {
            "aoColumnDefs": [
                { "bSortable": false, "aTargets": [ 0 ] }
            ],
            "aaSorting": [[1, 'asc']]
        });
         
        /* Add event listener for opening and closing details
         * Note that the indicator for showing which row is open is not controlled by DataTables,
         * rather it is done here
         */
        $('#datatable2').delegate('tbody td img','click', function () {
            var nTr = $(this).parents('tr')[0];
            if ( oTable.fnIsOpen(nTr) )
            {
                /* This row is already open - close it */
                
                oTable.fnClose( nTr );
            }
            else
            {
                /* Open this row */
                oTable.fnOpen( nTr, fnFormatDetails(oTable, nTr), 'details' );
            }
        } );
        
      $('.dataTables_filter input').addClass('form-control').attr('placeholder','Search');
      $('.dataTables_length select').addClass('form-control');    

    });
</script>