<h3><%= link_to "Add New Client", new_client_path, :class => "btn btn-primary btn-rad btn-trans" %></h3>
<div class="col-md-12" style="padding-left: 0px;">
    <div class="content">
      <div class="table-responsive">
        <div id="" class="dataTables_wrapper form-inline" role="grid">
          
          <table class="table table-bordered dataTable" id="datatable" aria-describedby="datatable_info">
            <thead>
              <tr role="row">
                <th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-sort="ascending" style="width: 163px;" aria-label="Rendering engine: activate to sort column descending">Client Name</th>
                <th class="sorting" role="columnheader" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 127px;" aria-label="CSS grade: activate to sort column ascending">Phone Number</th>
                <th class="sorting" role="columnheader" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 127px;" aria-label="CSS grade: activate to sort column ascending">Actions</th>
              </tr>
            </thead>
            <tbody role="alert" aria-live="polite" aria-relevant="all">
              <% current_user.clients.each do |client| %>
              <tr class="gradeA odd">
                <td class=" sorting_1"><%= link_to client.client_name, client_path(client), :style => "color: #000;" %></td>
                <td class="center "> <%= client.phone_no %> </td>
                <td class=" ">
                  <a href="<%= edit_client_path(client) %>", class="btn-default"><i class="fa fa-edit"></i></a>
                  <a href="<%= client_path(client) %>", class="btn-default"><i class="fa fa-eye"></i></a>
                  <a href="#", data-toggle="modal" data-target="#md-default-<%= client.id %>", class="btn-default"><i class="fa fa-times"></i></a> 
                  <!-- <button  data-target="#md-default-<%= client.id %>" type="button" class="btn btn-primary btn-flat"> Default</button> -->
                </td>
              </tr>
              <div class="modal fade colored-header in" id="md-default-<%= client.id %>" tabindex="-1" role="dialog">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h3>Enter Your Secret secret_password</h3>
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body">
                      <%= form_tag confirmation_path, :method => 'get'  do %>
                        <div class="form-group">
                          <%= hidden_field_tag :id,{},:value=>client.id %>
                          <label>Secret Password</label> : 
                          <%= password_field_tag :secret_password, :class=> "form-control"%>
                        </div>
                        <%= submit_tag "Submit", :class => "btn btn-primary btn-flat"%>
                      <% end %>
                    </div><!-- /.modal-content -->
                  </div><!-- /.modal-dialog -->
                </div>
              </div>
              <% end %>
            </tbody>
          </table>
        </div>             
      </div>
    </div>        
  </div>