<% if notice %>
  <div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <i class="fa fa-check sign"></i><strong>Success!</strong> <%= flash[:notice] %>
  </div>
<% elsif flash[:error_notice] %>
  <div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <i class="fa fa-times-circle sign"></i><strong>Error!</strong> <%= flash[:error_notice] %>
  </div>
<% end %>
<div class="cl-mcont">    
  <div class="row">   
    <div class="col-sm-12 col-md-12" style="padding-left: 0px;">
      <div class="tab-container" style="margin-top: -35px;">
        <ul class="nav nav-tabs">
          <li class=""><a href="#client" data-toggle="tab">Clients</a></li>
          <li class="active"><a href="#cashflow" data-toggle="tab">Cash Flow</a></li>
          <li class=""><a href="#messages" data-toggle="tab">Reports</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane cont" id="client">
            <%= render :partial => "/application/client_detail" %>
          </div>
          <div class="tab-pane active" id="cashflow">
            <%= render :partial => "/application/cashflow_deatil" %>
          </div>
          <div class="tab-pane" id="messages">
            <%= render :partial => "/layouts/shared/reports" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>