<% if flash[:notice] %>
  <div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <i class="fa fa-check sign"></i><strong>Success!</strong> <%= flash[:notice] %>
  </div>
<% end %>
<% if flash[:error_notice] %>
  <div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <i class="fa fa-times-circle sign"></i><strong>Error!</strong> <%= flash[:error_notice] %>
  </div>
<% end %>
<div class="col-sm-6 col-md-6">
  <div class="block-flat">
    <div class="header">              
      <h3>Profile settings</h3>
    </div>
    <div class="content">
      <%= form_for @user_profile, :as=> :user, :url => update_profile_path ,:html => { :multipart => true }  do |f| %>
        <div class="form-group">
          <label><%= f.label :first_name %></label>
          <%= f.text_field :first_name, :placeholder => "First Name", :class => "form-control parsley-validated" %>
        </div>
        <div class="form-group">
          <label><%= f.label :last_name %></label>
          <%= f.text_field :last_name, :placeholder => "Last Name", :class => "form-control parsley-validated" %>
        </div>
        <div class="form-group">
          <label><%= f.label :profile_pic %></label>
          <%= f.file_field :profile_pic %>
        </div >
        <div class="form-group"> 
          <label><%= f.label :email %></label>
          <%= f.email_field :email, :placeholder => "First Name", :class => "form-control parsley-validated", :readonly => true %>
        </div> 
        
        <%= f.submit "update", :class => "btn btn-primary" %>
        <button class="btn btn-default">Cancel</button>
      <% end %>
    </div>
  </div>        
</div>


<div class="col-sm-6 col-md-6">
  <div class="block-flat">
    <div class="header">              
      <h3>Change Password</h3>
    </div>
    <div class="content">
      <%= form_for @user_profile, :as=> :user, :url => update_password_path ,:html => { :id => "change_password",:class => "form-horizontal" }  do |f| %>
        <div class="form-group">
          <label class="col-sm-2 control-label"><%= f.label :current_password %></label>
          <div class="col-sm-10">
            <%= f.password_field :current_password, :autocomplete => "off" ,:class=>"form-control",:id => "inputPassword3" ,:required => true,:minlength =>8 %>
          </div>
        </div>

        <div class="form-group">
          <label for="inputPassword3" class="col-sm-2 control-label"><%= f.label :password%></label>
          <div class="col-sm-10">
            <%= f.password_field :password, :autocomplete => "off" ,:class=>"form-control", :id=> "password", :required => true, :minlength =>8 %>
          </div>
        </div>
        <div class="form-group">
          <label for="inputPassword3" class="col-sm-2 control-label"><%= f.label :password_confirmation%></label>
          <div class="col-sm-10">
            <%= f.password_field :password_confirmation, :autocomplete => "off" ,:class=>"form-control", :id=> "password_confirmation", :required => true, :minlength =>8 %>
          </div>
        </div>
        
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <%= f.submit "Change Password", :class=>"btn btn-primary" %>
            <button class="btn btn-default">Cancel</button>
          </div>
        </div>
      <% end %>
    </div>
  </div>        
</div>


<div class="col-sm-6 col-md-6">
  <div class="block-flat">
    <div class="header">              
      <h3>Change Secret Password</h3>
    </div>
    <div class="content">
      <%= form_for @user_profile, :as=> :user, :url => update_secret_password_path ,:html => { :multipart => true }  do |f| %>
        
        <div class="form-group">
          <label><%= f.label :secret_password %></label>
          <%= f.password_field :secret_password, :class => "form-control parsley-validated" %>
        </div >
        <div class="form-group">
          <label><%= f.label :secret_password_confirmation %></label>
          <%= f.password_field :secret_password_confirmation,:class => "form-control parsley-validated" %>
        </div >
        
        <%= f.submit "update", :class => "btn btn-primary" %>
        <button class="btn btn-default">Cancel</button>
      <% end %>
    </div>
  </div>        
</div>