<table>
  <tr>
    <td><b>Profile Picture :</b></td>
    <td><%= image_tag(@photographer_profile.image.url(:thumb)) %></td>
  </tr>
  <tr>
    <td><b>Photographer Name :</b></td>
    <td><%= @photographer_profile.name %></td>
  </tr>
  <tr>
    <td><b>Subdomain :</b></td>
    <td><%= @photographer_profile.subdomain %></td>
  </tr>
  <tr>
    <td><b>Email :</b></td>
    <td><%= @photographer_profile.email %></td>
  </tr>
  <tr>
    <td><b>Address :</b></td>
    <td><%= @photographer_profile.address %></td>
  </tr>
  <tr>
    <td><b>City :</b></td>
    <td><%= @photographer_profile.city %></td>
  </tr>
  <tr>
    <td><b>State :</b></td>
    <td><%= @photographer_profile.state %></td>
  </tr>
  <tr>
    <td><b>Country :</b></td>
    <td><%= @photographer_profile.country%></td>
  </tr>
  <tr>
    <td><b>Phone number :</b></td>
    <td><%= @photographer_profile.contact_num%></td>
  </tr>
  <tr>
    <td><b>Other Services :</b></td>
    <td><%= @photographer_profile.services%></td>
  </tr>
  <tr>
    <td><b>About Me :</b></td>
    <td><%= @photographer_profile.about%></td>
  </tr>
  <tr>
    <td colspan= "2">
      <center>
        <%= link_to 'Edit Profile',profile_path(current_photographer.subdomain), :class => "btn btn-primary" %>
      </center>
    </td>
  </tr>
</table>