<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="shortcut icon" href="/assets/icon.png"> -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/icon.png">
    <title>Account Manager</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,400italic,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:300,200,100' rel='stylesheet' type='text/css'>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => false %>
    <%= csrf_meta_tags %>

    <script type="text/javascript" src="/assets/jquery.js"></script>
    <script type="text/javascript" src="/assets/jquery.validate.js"></script>
    
    <!--
      <link href="css/bootstrap.css" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="css/jquery.gritter.css" />
      <link rel="stylesheet" href="css/font-awesome.min.css">
      <link rel="stylesheet" type="text/css" href="css/nanoscroller.css" />
      <link rel="stylesheet" type="text/css" href="css/codemirror.css">
      <link rel="stylesheet" type="text/css" href="css/ambiance.css">
      <link rel="stylesheet" href="css/jquery-jvectormap-1.2.2.css" type="text/css" media="screen"/>  
      <link href="css/style.css" rel="stylesheet" />  
    -->    
  </head>
  <body style="" class="cbp-spmenu-push">
    <div id="cl-wrapper">
      <%= render :partial => "/layouts/shared/sidebar" %>
      <div class="container-fluid" id="pcont">
        <%= render :partial => "/layouts/shared/content" %>
        
        <%= yield %>
      </div>
    </div>
    <%= javascript_include_tag "application", "data-turbolinks-track" => false %>
    <script src="/assets/jquery.modalEffects.js"></script>
  <script type="text/javascript"> 
    $(document).ready(function(){
      //initialize the javascript
       $('.md-trigger').modalEffects();
        $('input').iCheck({
          checkboxClass: 'icheckbox_flat-green',
          radioClass: 'iradio_flat-green'
        });
    });
</script>
  <script src="/assets/bootstrap.min.js"></script>
  </body>
</html>