<!DOCTYPE html>
<html>
<head>
  <title>AccountManager</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="texture">
	<%= yield %>
</body>
</html>
